/*
 Purple theme adapted from:
  http://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_theme_deep-purple
*/

.prpl-theme {background-color:#673ab7}
.prpl-light {background-color:#ede7f6 }
.prpl-dark {background-color:#311b92 }
.prpl-l5 {background-color:#ede7f6 }
.prpl-l4 {background-color:#d1c4e9 }
.prpl-l3 {background-color:#b39ddb }
.prpl-l2 {background-color:#9575cd }
.prpl-l1 {background-color:#7e57c2 }
.prpl-d1 {background-color:#5e35b1 }
.prpl-d2 {background-color:#512da8 }
.prpl-d3 {background-color:#4527a0 }
.prpl-d4 {background-color:#311b92 }
.beige {background-color: beige}


/* Color Palette */


/* Body Colors */

/* Body Dimensions */
/* Defaults: 
   --cageSize: 300px



*/



.grid {
  background-image: url(../images/400x400Grid.png);
}

.cage {
  position:relative; 
  display: inline-block;
  width:300px;
  height:300px;
  float: left;
/*   margin: auto; */
}

section {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
/*   box-sizing: border-box; */
}

/* ------------------ */
/*       Layout       */
/* ------------------ */


.body {
  left:50.001px;
  top:50.001px;
  width:200.001px;
  height:200.001px;;
}


.body {  
  /* firefox and safari
  -moz-border-radius: 50px / 100px;
  -webkit-border-radius: 50px / 100px; 
  */

  /*border-radius: 75px / 100px;*/ /* horiz radius / vert radius */
  border-radius:75px / 99.99px
}

.ear_L,.ear_R { top:27px }  /* .09 */
.ear_L { left:50.001px }        /* .16667 */
.ear_R { left:189.999px }

.ear_L,.ear_R {
  width: 0;
  height: 0;
  border-top-width:24.999px;
  border-bottom-width:80.001px;

}

.ear_L {
    border-left-width:60px;
    border-left-color:#9575cd; 
}

.ear_R {  
  border-right-width:60px; 
  border-right-color:#9575cd; 
}


.eye_L, .eye_R {
  top:90px;
  width:69.999px;
  height:69.999px;
}

/* position to leave 5px to the center line */
.eye_L { left:80.001px; }
.eye_R { left:150px; }


.eye_L,.eye_R {
  background-color: white;
  border-radius:35.001px; /* width / 2.0 */
}

.pupil {
  position: absolute;
  left: 20%;
  top: 40%;
  background-color: #d1c4e9; /* prpl-l4 */
  width: 40%;
  height: 40%;
}

.pupil {  
  border-radius: 50% ; /* width / 2.0 */
}

.beak {
  top:110.001px;
  left:143.001px;  
/*   width: 14px; */
/*   height: 60px; */  
}

.beak {
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
}

.beak {
  border-top-width:60px;  
  border-top-color: goldenrod;
  border-left-width:6.999px; 
  border-right-width:6.999px; 
}

.wing_L, .wing_R {
  display: block;
  top:120px;
  background-color: #5e35b1; /* prpl-d1 */
  background-color: #4527a0; /* prpl-d3 */
  width:30px;
  height:129.999px;
/*   border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; */
  border-radius: 50% 50% 60% 60% / 90% 90% 50% 50%;
}

.wing_L {
  left:45px;
}

.wing_R {
  left:225px;
}

.leg_L,.leg_R {
  background-color: goldenrod;
  width:9.999px;
  height:30px;
  top:240px;
}

.leg_L { left:110.001px; }
.leg_R { left:189.999px; }


.foot_L,.foot_L:after,.foot_R, .foot_R:after {
  border-width:15px;
  border-color: transparent;
  border-style: solid;
  
}

.foot_L, .foot_R {
  top:240px;  
  width:0;
  height:0;
  border-bottom-width:9.999px; 
  border-bottom-color: red;
  border-bottom-style: solid ;
}

.foot_L:after, .foot_R:after {
  position: absolute;
  content:'';
  left:-15px; 
  top:8.001px;
  width:0;
  height:0;
  border-top-width:20.001px; 
  border-top-color: red;
  border-top-style: solid ;  
}

.foot_L { left:99.999px; 
}

.foot_R { left:180px; }

/*.armature.foot_L {
  -webkit-transform: rotate(0deg);
}*/

/* ------------------ */
/*       Shapes       */
/* ------------------ */

.ghost-center {
  position: relative;
}

.ghost-center:before {
  content: " ";
  display: inline-block;
  height: 100%;
  width:1%;
  vertical-align: middle;
}

