/*
 Purple theme adapted from:
  http://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_theme_deep-purple
*/

.prpl-theme {background-color:#673ab7}
.prpl-light {background-color:#ede7f6 }
.prpl-dark {background-color:#311b92 }
.prpl-l5 {background-color:#ede7f6 }
.prpl-l4 {background-color:#d1c4e9 }
.prpl-l3 {background-color:#b39ddb }
.prpl-l2 {background-color:#9575cd }
.prpl-l1 {background-color:#7e57c2 }
.prpl-d1 {background-color:#5e35b1 }
.prpl-d2 {background-color:#512da8 }
.prpl-d3 {background-color:#4527a0 }
.prpl-d4 {background-color:#311b92 }
.beige {background-color: beige}


/* Color Palette */
:root {
  --prpl_l2: #9575cd;
  --prpl_d3: #4527a0;
}


/* Body Colors */
:root {
   --earColor: var(--prpl_d3);
}

/* Body Dimensions */
/* Defaults: 
   --cageSize: 300px



*/
:root {
  --cageSize: 300px;
  --bodySizeRatio: .66667;   
  --bodyPosRatio: .16667;
  --bodyHorizRadiusRatio: .25;
  --bodyVertRadiusRatio: .3333;     
}



.grid {
  background-image: url(../images/400x400Grid.png);
}

body {
  width: 450px;
  overflow: hidden;
}

#container {
  width:100%;
}


.cage {
  position:relative; 
  display: inline-block;
  width: var(--cageSize);
  height: var(--cageSize);
  float: left;
  border-radius: 50%;
/*   margin: auto; */
}

section {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
/*   box-sizing: border-box; */
}

/* ------------------ */
/*       Layout       */
/* ------------------ */

 
.body {
  left: calc(var(--cageSize) * var(--bodyPosRatio));
  top: calc(var(--cageSize) * var(--bodyPosRatio));
  width: calc(var(--cageSize) * var(--bodySizeRatio));
  height: calc(var(--cageSize) * var(--bodySizeRatio));
} 

.body {  
  /* firefox and safari
  -moz-border-radius: 50px / 100px;
  -webkit-border-radius: 50px / 100px; 
  */

  /*border-radius: 75px / 100px;*/ /* horiz radius / vert radius */
  border-radius: calc(var(--cageSize) * var(--bodyHorizRadiusRatio)) / calc(var(--cageSize) * var(--bodyVertRadiusRatio))
}

.ear_L,.ear_R { top: calc( (27/300) * var(--cageSize)) }  /* .09 */
.ear_L { left: calc( (50/300) * var(--cageSize)) }        /* .16667 */
.ear_R { left: calc( (190/300) * var(--cageSize)) }

.ear_L,.ear_R {
  width: 0;
  height: 0;
  border-top-width: calc( (25/300) * var(--cageSize)) ;
  border-bottom-width: calc( (80/300) * var(--cageSize)) ;

}

.ear_L {
    border-left-width: calc( (60/300) * var(--cageSize));
    border-left-color: var(--earColor); 
}

.ear_R {  
  border-right-width: calc( (60/300) * var(--cageSize)); 
  border-right-color: var(--earColor); 
}


.eye_L, .eye_R {
  top: calc( (90/300) * var(--cageSize));
  width:calc( (70/300) * var(--cageSize));
  height:calc( (70/300) * var(--cageSize));
}

/* position to leave 5px to the center line */
.eye_L { left: calc( (80/300) * var(--cageSize)); }
.eye_R { left: calc( (150/300) * var(--cageSize)); }


.eye_L,.eye_R {
  background-color: white;
  border-radius: calc( (35/300) * var(--cageSize)) ; /* width / 2.0 */
}

.pupil {
  position: absolute;
  left: 20%;
  top: 40%;
  background-color: #d1c4e9; /* prpl-l4 */
  width: 40%;
  height: 40%;
}

.pupil {  
  border-radius: 50% ; /* width / 2.0 */
}

.beak {
  top: calc( (110/300) * var(--cageSize)) ;
  left: calc( (143/300) * var(--cageSize)) ;  
/*   width: 14px; */
/*   height: 60px; */  
}

.beak {
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
}

.beak {
  border-top-width: calc( (60/300) * var(--cageSize)) ;  
  border-top-color: goldenrod;
  border-left-width: calc( (7/300) * var(--cageSize)) ; 
  border-right-width: calc( (7/300) * var(--cageSize)) ; 
}

.wing_L, .wing_R {
  display: block;
  top: calc( (120/300) * var(--cageSize)) ;
  background-color: #5e35b1; /* prpl-d1 */
  background-color: #4527a0; /* prpl-d3 */
  width: calc( (30/300) * var(--cageSize)) ;
  height: calc( (130/300) * var(--cageSize)) ;
/*   border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; */
  border-radius: 50% 50% 60% 60% / 90% 90% 50% 50%;
}

.wing_L {
  left: calc( (45/300) * var(--cageSize)) ;
}

.wing_R {
  left: calc( (225/300) * var(--cageSize)) ;
}

.leg_L,.leg_R {
  background-color: goldenrod;
  width: calc( (10/300) * var(--cageSize)) ;
  height: calc( (30/300) * var(--cageSize)) ;
  top: calc( (240/300) * var(--cageSize)) ;
}

.leg_L { left: calc( (110/300) * var(--cageSize)) ; }
.leg_R { left: calc( (190/300) * var(--cageSize)) ; }


.foot_L,.foot_L::after,.foot_R, .foot_R::after {
  border-width: calc( (15/300) * var(--cageSize)) ;
  border-color: transparent;
  border-style: solid;
  
}

.foot_L, .foot_R {
  top: calc( (240/300) * var(--cageSize)) ;  
  width: calc( (0/300) * var(--cageSize)) ;
  height: calc( (0/300) * var(--cageSize)) ;
  border-bottom-width: calc( (10/300) * var(--cageSize)) ; 
  border-bottom-color: red;
  border-bottom-style: solid ;
}

.foot_L::after, .foot_R::after {
  position: absolute;
  content:'';
  left: calc( (-15/300) * var(--cageSize)) ; 
  top: calc( (8/300) * var(--cageSize)) ;
  width: calc( (0/300) * var(--cageSize)) ;
  height: calc( (0/300) * var(--cageSize)) ;
  border-top-width: calc( (20/300) * var(--cageSize)) ; 
  border-top-color: red;
  border-top-style: solid ;  
}

.foot_L { left: calc( (100/300) * var(--cageSize)) ; 
}

.foot_R { left: calc( (180/300) * var(--cageSize)) ; }

/*.armature.foot_L {
  -webkit-transform: rotate(0deg);
}*/

/* ------------------ */
/*       Shapes       */
/* ------------------ */

.ghost-center {
  position: relative;
}

.ghost-center::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width:1%;
  vertical-align: middle;
}

